<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdminClientService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/LigaManagerServer/AdminClientService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminClientService"
                contract="AdminService.IAdminClientService" name="BasicHttpBinding_IAdminClientService" />
        </client>
    </system.serviceModel>
</configuration>